.button {
  border: none;
  background-color: var(--color-tertiary);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-secondary);
}

.disable:hover {
  background: #999;
  color: #555
}