@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --color-accent: palevioletred;
  --width-max: 1000px;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  box-shadow: inset 0 0 2rem 0 var(--color-accent);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: var(--width-max);
  margin: auto;
}

.title {
  padding: 10px 0;
  max-width: var(--width-max);
  margin: auto;
}
