@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #ecdab0;
  --color-tertiary: #d9d7ae;
  --font-family: system-ui;
  --color-accent: #c9e870;
  --color-pink: #dc6cc7;
  --color-pink-dark: #9285a4;
  --width-max: 1000px;
}

body {
  font-family: var(--font-family);
  background-color: #eeeeee;
  background-color: var(--color-tertiary);
  padding: 20px;
  box-shadow: inset 0 0 4rem 0 var(--color-accent);
  min-height: 100vh;
}

.bg-grid {
  background-image:
     linear-gradient(
      to right,
      var(--color-accent) 1px,
      transparent 1px
    ),
      linear-gradient(
        to bottom,
        var(--color-accent) 1px,
        transparent 1px
      );

  /* Set the spacing for the grid cells */
  background-size: 10px 10px;

  /* Fix background to viewport, not content */
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: var(--width-max);
  margin: auto;
}

.title {
  padding: 10px 0;
  max-width: var(--width-max);
  margin: auto;
  text-transform: uppercase;
  font-size: large;
  line-height: 0.8;
}

header {
  max-width: var(--width-max);
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
