.card-container {
  margin: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.card {
  width: 120px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 var(--color-pink-dark),
    inset 0 0 5px 0 var(--color-pink);
  transition: transform 0.07s ease-in-out;
}

.card:hover {
  transform: scale(1.5);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3px 0;
}

.card__content {
  padding: 5px 10px 20px;
  display: grid;
  gap: 5px;
}

.card__info-description {
  /* text-align: right; */
  font-weight: bolder;
}

li {
  list-style: none;
}

.card img {
  width: 120px;
  border-radius: 10px;
}

.card__title {
  font-size: xx-small;
  padding-left: 2px;
}

.card dl {
  font-size: 6px;
}

.card {
  dt,
  dd {
    padding: 1px 0 1px 2px;
  }
  dd {
    padding-left: 5px;
  }
}

.card dt:nth-child(3n),
.card dd:nth-child(3n + 1) {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 1px;
}
