.card-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 120px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), inset 0 0 5px 0 plum;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.card img {
  width: 120px;
  border-radius: 10px;
}

.card__title {
  font-size: xx-small;
}

.card dl {
  font-size: 6px;
}